

<div class="container">

    
    <div class="insidecontainer" *ngIf="!optionopen" >
      <img src="/assets/images/foodlogo.png">
      
      <div class="rectangle" (click)="loginoptions()"><p>login</p>
        <div class="circle"> 
          <svg xmlns="http://www.w3.org/2000/svg"  width="55%" height="6vh"  fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
          </svg>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="60%" height="7vh"  fill="white" class="bi bi-file-lock2-fill" viewBox="0 0 16 16">
          <path d="M7 6a1 1 0 0 1 2 0v1H7V6z"/>
          <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 6v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V8.3c0-.627.46-1.058 1-1.224V6a2 2 0 1 1 4 0z"/>
        </svg> -->
      </div>
    </div>

    </div>

    <!-- <button routerLink="/practice" style="height: 10vh;width: 20%;">click</button> -->

<div class="options" *ngIf="optionopen">
  <div class="optionbody">
<div class="optionlogo">
<img src="/assets/images/foodlogobackgroundremove.png" alt="">
</div>
<div class="loginbody">
<div class="logins">
  <button routerLink="/adminlogin">admin_Login</button>
</div>
  <div class="logins">
<button routerLink="/stafflogin">staff_Login</button>
</div>
<div class="logins">
<button routerLink="/login">user_Login</button>
</div>
</div>

  </div>

  <i  (click)="loginoptions()" class="bi bi-x"></i>


</div>



</div>