.background{
    /* background-color: red; */
    height: 150vh;
    width: 100vw;

}
.header{
    background-color: white;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    position:sticky;
    top: 0;
}
#header{
    /* background-color:gray; */
    height: 10vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.error1 {
    position: absolute;
    box-shadow:
    inset 5px 5px 10px rgba(77, 75, 75, 0.153),
    5px 5px 10px rgba(123, 122, 122, 0.37);
background-color: rgb(239, 53, 53);
width: 4vw;
border: 2.5px solid rgb(244, 244, 244);
border-radius: 50%;
height: 2vh;
right: 10vw;
top: 3vh;
color: rgb(239, 53, 53);

}

input#menu {
    /* background-color: yellow; */
    width: 5vw;
    display: none;
}

.icon {
    /* background: #111010; */
    cursor: pointer;
    /* display: block; */
    height: 24px;
    padding: 20px;
    width: 24px;
}

label.icon {
    /* position: fixed; */
    margin-left: 4.5vw;

    /* background-color: red; */
    z-index: 200;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
    background: rgb(3, 3, 3);
    content: '';
    display: block;
    height: 0.5vh;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 3.5vh;
    
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
    background: rgb(2, 2, 2);
}

.icon .menu {

    left: 8vw;
    top: 5vh;
}

.icon .menu::before {
    top: -7px;
}

.icon .menu::after {
    top: 7px;
}



#menu:checked + .icon .menu {
    background: transparent;
}

#menu:checked + .icon .menu::before {
    transform: rotate(45deg);
}

#menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}

nav {
    margin-top: 65.5vh;
    background: white;
    box-shadow:
    inset 5px 5px 10px rgba(217, 213, 213, 0.345),
    5px 5px 10px rgba(62, 61, 61, 0.2);

    height: 50.5vh;
    /* padding-top: 60px; */
    /* position: fixed; */
    transition: width ease .8s;
    width: 0px;
    z-index: 100;
    margin-left: 77vw;
    border-radius: 2vh;
    position: absolute;
    overflow: hidden;
}


#menu:checked ~ nav {

    width: 47.5vh;
}

nav ul {
/* background-color: red; */
height: 40.5vh;
padding: 2vh;

    list-style: none;
    /* margin: 0;
    padding: 0; */
}
nav li {
    /* cursor: pointer; */
    /* display: block; */
    /* background-color: yellow; */
    line-height: 9vh;
    padding-left: 6vw;
    white-space: nowrap;
}
#li {
    color: black; 
    text-shadow:3px 3px 10px #1e1c1c73, -2px -2px 10px #fff;

    padding: 3vh;
    /* background-color: red; */
    font-size: 3vh;
    font-family: gotham !important;
    font-style: normal;
    text-transform: capitalize;
    

    /* margin-right: 24px; */
    /* vertical-align: text-bottom;*/
}
/* .img{
    background-color: red;
} */
.img img{
    height: 11vh;
    margin-left: 3vh;

}


.notification i {
    /* background-color: rgb(30, 0, 255); */
    height: 10vh;
    width:20vw ;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 4vh;

}


.searchbackground{
    background-color: white;
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
 
  
    
}

/* .searchbackground::before
{
    right: -10vw;
} */

.search{
    /* background-color: red; */
    height: 9vh;
    width: 90vw;
    /* top: 9vh; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}


.search input{
width: 70vw;
padding: 2vh;
border-radius: 2vh;
outline: none;
/* border:2px solid #4b4d4e; */
box-shadow:
inset 5px 5px 10px rgba(77, 75, 75, 0.153),
5px 5px 10px rgba(123, 122, 122, 0.37);
font-size: 2vh;
position: relative;
text-align: center;
/* background-color: red; */


}
.search i{
    position: absolute;
    z-index: 2;
    font-size: 3.5vh;
    bottom: 2.5vh;
    right: 37vh;
/* background-color: red; */
color: gray;

    
    /* border: 2vh solid black; */
}

#searchinput{
    z-index: 10;

text-align: center;
}


.bodybackground{
    /* background-color: red; */
    height: 78vh;
    width: 100vw;
}
.h1{
    /* background-color: rgb(230, 228, 228); */
    height: 4vh;
    width: 100vw;
/* padding: 2vh; */
display: flex;
align-items: center;


}
.h1 p{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
font-size: 3vh;
text-transform: capitalize;
}

.form{
    /* background-color: yellow; */
    height:124vh ;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}
form{
    /* background-color: orange; */
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* margin-block-start: 5vh; */
    border: none;
    align-items: left;
    
}
label{
    /* background-color: red; */
    height: 16vh;
    /* width: 80vw; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 2.5vh;
    font-family: gotham !important;
    text-transform: capitalize;
margin: 1vh;

}
#Error{
    font-size: 1.5vh;
    color: red;
    margin-left: 4vh;
    font-family: gotham !important;
    text-transform: lowercase;
}
#patternerror{
    font-size: 1.5vh;
    color: red;
    margin-left: 3vh;
    font-family: gotham !important;
    text-transform: lowercase;
}
input{
    /* background-color: yellow; */
    box-shadow:
inset 5px 5px 10px rgba(77, 75, 75, 0.153),
5px 5px 10px rgba(123, 122, 122, 0.37);
border: none;
outline: none;
padding: 2vh;
border-radius: 1vh;
align-items: right;
display: flex;
width: 79vw;
margin: 2vh;
}
input::placeholder{
    font-size: 2vh;
    font-family: gotham !important;
    text-transform: capitalize;
    
}


.image img{
    background-color: red;
    height: 40vh;
    width: 10vh;
}






