<div class="left">

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name" />
    
        </div>
    
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" />
        </div>
        <button *ngIf="!updates" type="submit"  [disabled]="myForm.invalid">Submit</button>
      </form>
      <button  (click)="savevalues()"(click)="clearform()"(click)="change()" *ngIf="updates"   >edit</button>
    
    
    </div>
    <div class="right">
        <table>
            <thead>
              <tr>
                    <th>name</th>
                    <th>email</th>
                  </tr>
            </thead>
        <tbody *ngFor=" let item of tabledata">
          <tr>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td><button (click)="updatedata(item)" (click)="updatedata(item)" (click)="edits()" >update</button></td>
    <td > <button (click)="delete(item.key)">delete</button></td>
              </tr>
                <tbody>
        </table>
    
    </div>