.conatiner{
    /* background-color: yellow; */
    height: 300vh;
    width: 100%;
    
}
.outer-nav-bar{
    position: sticky;
    top: 85vh;
    width: 100%;
    height:10vh;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
}
.inner-nav-bar{
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)) ; */
    width: 90%;
    height: 9vh;
    border-radius: 2vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: black;
    opacity: 0.8;
    

  
}
#nav{
    /* background-image:linear-gradient(rgba(199, 188, 188, 0.2), rgba(0, 0, 0, 0.3))  ; */
    margin-inline: 1.5vh;
   height:6vh; 
    width: 16%;
    align-items: center;
    display: flex;
    justify-content: center;
}


#svg{
    height:3.5vh; 
    width: 90%;

}